{:paths ["src"]
 :deps {hawk/hawk {:mvn/version "0.2.11"}
        integrant/repl {:mvn/version "0.3.2"}
        org.clojure/clojure {:mvn/version "1.10.2"}}
 :aliases {:uberjar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.165"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args {:aot true
                                 :jar "integrant-repl-autoreload.jar"
                                 :main-class "integrant-repl-autoreload.core"
                                 :sync-pom true}}}}
